@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
<ul class="nav navbar-nav navbar-right">

    <li><a href="@Url.Action("Mine", "Courses")" class="nav-link">My Upcoming Courses</a></li>
    <li><a href="@Url.Action("Attending", "Courses")" class="nav-link">Course I'm Going</a></li>
    <li><a href="#" class="nav-link">Lecture I'm Flowing</a></li>
    <a href="#" class="nav-link">@User.Identity.GetUserName()</a>
    <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

</ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}

